@import "../../../../variables";
@import '../../../../mixins';

.trip {
  grid-column: 3/-3;
  width: 100%;
  background-color: $background-color-dark;
  border-radius: 32px;
  display: flex;
  flex-direction: row;

  &__pic {
    height: 200px;
    width: 250px;

    &--picture {
      height: 100%;
      width: 100%;
      object-fit: cover;

      border-radius: 32px 0px 0px 32px;
    }
  }

  &-info {
    padding: 20px;
    width: 100%;
    .trip__top {
      width: 100%;

      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &--name {
        font-size: 25px;
        font-weight: 600;
        line-height: 24px;
        color: $text-color-dark;
        margin: 0;
        display: block;
        text-transform: uppercase;
      }

      &--date {
        font-size: 21px;
        font-weight: 600;
        line-height: 24px;
        color: $green;
        margin: 0;
        display: block;
      }
    }

    .trip__bottom {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
      align-items: center;

      &-block {
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;

        &-part1 {
          display: flex;
          flex-direction: column;
          gap: 15px;
          justify-content: center;

          &--members {
            display: flex;
            align-items: center;
            gap: 6px;

            &--text {
              color: $text-color-dark;
              margin: 0;
            }
          }

          &--status {
            display: flex;
            align-items: center;
            gap: 6px;

            &--text {
              color: $text-color-dark;
              margin: 0;
            }
          }
        }

        &-part2 {
          display: flex;
          flex-direction: column;
          gap: 15px;
          justify-content: center;

          &--route {
            display: flex;
            align-items: center;
            gap: 6px;

            &--text {
              color: $text-color-dark;
              margin: 0;
              max-width: 350px; overflow: hidden;
              max-height: 60px;
            }
          }

          &--additional {
            display: flex;
            align-items: center;
            gap: 6px;

            &--text {
              color: $text-color-dark;
              margin: 0;
            }
          }
        }
      }

      &--button {
        width: 230px;
        @include button-style;
      }
    }
  }
}

// &--pic {
//   height: 100%;
//   width: 100%;

//   object-fit: cover;
// }
