@import "../../variables.scss";
@import "../../mixins.scss";

.profile {
  @include page-grid;
  justify-content: center;
  align-items: center;
  padding-inline: 64px;

  &-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 25%;
    align-items: center;

    .profile__top--button {
      display: none;
    }

    &--label {
      @include button-style;
      width: 100%;
      font-weight: 600;
      height: auto;
      padding-block: 15px;
    }
  }

  &__top {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    &--pic {
      width: 100%;
      height: auto;
      border-radius: 50%;
    }

    &--info {
      width: 50%;

      &--name {
        font-size: 48px;
      }

      &--stat {
        font-size: 23px;
      }
    }

    &--button {
      width: 20%;
      @include button-style;

      &:disabled {
        opacity: 0.7;
        pointer-events: none;
      }
    }
  }

  &__header {
    color: $text-color-dark;
    font-size: 36px;
    font-weight: 800;
    grid-column: 1/-1;
    margin-top: 50px;
  }

  &__friendlist {
    grid-column: 2/-2;
    border-radius: 30px;
    background-color: $background-color-dark;

    &--list {
      padding: 20px;
      display: grid;
      grid-template-columns: repeat(3, 30%);
      justify-content: space-between;
      row-gap: 20px;
      div {
        background-color: white !important;
      }

      &--more {
        border-radius: 20px;
        padding: 10px;
        display: flex;
        align-items: center;

        &--text {
          margin: 0;
          font-size: 18px;
          font-weight: 600;
        }
      }
    }
  }

  &__trips {
    grid-column: 3/-3;

    &--list {
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin-bottom: 30px;
    }
  }
}
