@import '../../variables.scss';
@import '../../mixins.scss';

.profile {
  @include page-grid;
  justify-content: center;
  align-items: center;
  padding-inline: 64px;

  &__top {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    
    &--pic {
      width: 25%;
      height: auto;
      border-radius: 50%;
    }

    &--info {
      width: 50%
    }

    &--button {
      width: 20%;
      @include button-style;
    }
  }
}