@import '../../../variables';

.map {
  height: 60vh;

}

.suggest {
  width: 100%;
  padding-top: 30px;
  height: 300px;

  &--header {
    font-size: 20px;
    counter-reset: $text-color-dark;

  }

  input {
    width: 100%;
    border: 1px solid $text-color-dark;
    border-radius: 20px;
    padding: 20px;
    font-size: 17px;
    margin-top: 20px;
  }

  &-block {
    display: grid;
    grid-template-columns: 70% 25%;
    gap: 5%;

    &--button {
      text-decoration: none;
      padding: 15px 70px;
      background-color: $background-light-gray;
      border-radius: 60px;
      font-size: 17px;
      color: $text-color-light;
      text-align: center;
      font-weight: 700;
      transition: all $transition-duration;
      margin-top: 10px;
      max-height: 70px;
      position: relative;
      top: 5px;

      &:hover {
        box-shadow: 0 0 20px #91cfa6; 
      }
    }
  }
}