@import "../../mixins";
@import "../../variables";

.createTrip {
  @include page-grid;
  row-gap: 20px;
  justify-content: center;
  padding-bottom: 80px;

  &__button {
    grid-column: 5 / 9;
    color: $background-color;
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    border: 2px solid $green;
    background-color: $green;
    padding: 14px 60px;
    width: 100%;
    border-radius: 30px;
    text-decoration: none;
    transition: all $transition-duration;
    letter-spacing: 1px;

    &:hover {
      background-color: white;
      color: $text-color-dark;
    }
  }

  &__header {
    grid-column: 4/-4;
    font-size: 28px;
    font-weight: 600;
    color: $text-color-dark;
    margin: 0;
  }

  &__block {
    grid-column: 4/-4;
    display: flex;
    flex-direction: column;

    &.double--block {
      flex-direction: row !important;
      justify-content: space-between;

      height: 74px;
      overflow: visible;
      z-index: 4;

      &.date {
        z-index: 5;
      }
    }

    &--doubleBlock {
      display: flex;
      flex-direction: column;
      width: calc(50% - 20px);
    }

    &--label {
      font-size: 16px;
      font-weight: 500;
      color: $text-color-dark;
      margin-bottom: 4px;
      margin-left: 12px;
    }

    input {
      width: 100% !important;
      height: 30px;
      outline: none;
      border: 1px solid white;
      border-radius: 32px;
      padding: 8px 12px;
      font-size: 18px;
      background-color: $background-color-dark;

      &:focus {
        border: 1px solid $green;
      }
    }

    .suggestions {
      background-color: $background-color;
      width: 99.5%;
    }

    .additional {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &-search {
        height: 48px;
        overflow: visible;

        .suggestions {
          z-index: 2;
        }
      }

      &-block {
        position: relative;
        padding: 20px;
        border-radius: 40px;
        height: 200px;
        margin-top: 20px;
        width: 100%;
        background-color: $background-color-dark;
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow-y: scroll;

        &-element {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          &--text {
            margin: 0;
            color: $text-color-dark;
            font-size: 17px;
          }

          &--button {
            display: block;
            position: relative;
            right: 10px;
            margin: 0;
            cursor: pointer;
          }
        }
      }
    }
  }
}