@import "../../variables";
@import '../../mixins';

.trip-details {
  display: flex;
  flex-direction: row;
  gap: 2%;
  padding-right: 40px;
  align-items: center;

  &__block1 {
    margin: 0 20px 20px;
    padding-left: 50px;
    padding-right: 20px;
    width: 20%;
    position: sticky;
    top: 0;
    background-color: $background-color-dark;
    border-radius: 30px;

    &--header {
      color: $text-color-dark;
      font-size: 40px;
      font-weight: 600;
    }

    &--route {
      &--item {

        color: $text-color-dark;
      }
    }

    &--members {
      &--header {
        color: $text-color-dark;
      }

      &--block {
        height: 40vh;
        background-color: $background-color;
        max-height: 40vh;
        overflow-y: scroll;
        border-radius: 30px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
    }

    &--date {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;


      &--item {
        color: #242b24;
        font-size: 20px;
        margin: 0;
      }
    }

    &--button {
      width: 100%;
      @include button-style;
      margin-block: 20px;
    }
  }

  &__block2 {
    width: 75%;
    
    &--info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &--add {
        color: #fdfdff;
        margin: 0;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
        text-align: center;
        cursor: pointer;
        border: 2px solid $green;
        background-color: $green;
        width: 230px;
        height: 50px;
        border-radius: 30px;
        text-decoration: none;
        transition: all $transition-duration;
  
        &:hover {
          background-color: $background-color-dark;
          color: $green;
        }
      }
  

      &--left {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;

        &--header {
          color: $text-color-dark;
          font-size: 34px;
          font-weight: 700;
          margin: 0;
        }

        &--status {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 8px;
          margin: 0;
          padding: 7px;
          border-radius: 20px;
          background-color: $background-color-dark;

          &--circle {
            content: ' ';
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background-color: $green;
          }
        }
      }
    }

    &--nav {
      width: 70%;
      display: flex;
      gap: 30px;
      margin-bottom: 10px;

      &--item {
        margin: 0;
        padding-block: 10px;
        text-align: center;
        width: 20%;
        cursor: pointer;
        border-bottom: 2px solid;
        transition: $transition-duration all;

        &:hover {
          letter-spacing: 2px;
        }
      }
    }
  }
}

.add {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  background-color: #75757585;
  z-index: 2;

  &__block {
    height: 60vh;
    width: 60vw;
    position: relative;
    top: 20vh;
    left: 20vw;

    background-color: $background-color-dark;
    padding: 20px;
    border-radius: 30px;

    &--header {
      font-size: 25px;
      font-weight: 600;
      color: $text-color-dark;
    }

    &--users {
      height: calc(100% - 124px);
      background-color: white;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px;
      border-radius: 20px;
    }
  }
}