@import '../../../mixins';
@import '../../../variables';

.memberDetails {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 20px);
  margin-inline: auto;
  padding: 10px;
  border-radius: 20px;
  background-color: $background-color-dark;
  align-items: center;
  height: 40px;

  &__block {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;

    &--img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    &--text {
      font-size: 18px;
      font-weight: 600;
      color: $text-color-dark;
      cursor: pointer;
      transition: all $transition-duration;

      &:hover {
        color: #2d972d;
      }
    }
  }
}