@import "../../_variables.scss";

.header {
  background-color: $background-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 48px 64px;

  &_user {
    max-width: 180px;
    overflow: hidden;
    text-decoration: none;
    font-size: 18px;
    color: $green;
    font-weight: 600;
  }

  &__link {
    &--pic {
      height: 80px;
      transition: all $transition-duration;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__linkBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    background-color: $background-color-dark;
    padding-inline: 20px;
    border-radius: 40px;
    height: 50px;

    &--link {
      text-decoration: none;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 600;
      color: $text-color-dark;
      width: 120px;
      transition: all $transition-duration;
      text-align: center;
      margin: 0;

      &:hover {
        letter-spacing: 1.3px;
        color: $green;
      }
    }

    input {
      border: none;
      outline: none;
      padding: 7px;
      border-radius: 15px;
      font-size: 16px;
      font-weight: 600;
    }
  }

  &__block {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    box-sizing: border-box;

    &--sign {
      width: 160px;
      padding-block: 12px;
      border: 2px solid $green;
      border-radius: 30px;
      transition: all $transition-duration;

      &:hover {
        background-color: $green;

        p {
          color: $background-color;
        }
      }

      p {
        transition: all $transition-duration;
        margin: 0;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
        color: $text-color-dark;
        text-align: center;
        cursor: pointer;
      }
    }

    &--lang {
      display: flex;
      flex-direction: row;
      gap: 5px;
      width: 60px;

      &--option {
        margin: 0;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
        color: $text-color-dark;
        transition: all $transition-duration;
        text-align: center;

        &:first-child,
        &:last-child {
          &:hover {
            letter-spacing: 1.3px;
            color: $green;
          }
        }
      }
    }
  }
}
