@import '../../_variables.scss';

.header {
  background-color: $background-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;

  &__link {
    &--pic {
      height: 70px;
      transition: all $transition-duration;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__linkBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    background-color: #f0eded;
    padding-inline: 20px;
    border-radius: 40px;
    height: 50px;

    &--link {
      text-decoration: none;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 600;
      color: $text-color-dark;
      width: 120px;
      transition: all $transition-duration;
      text-align: center;
      margin: 0;

      &:hover {
        letter-spacing: 1.3px;
        color: #FB5B32;
      }
    }

    input {
      border:none;
      outline: none;
      padding: 7px;
      border-radius: 15px;
      font-size: 16px;
      font-weight: 600;
    }
  }

  &__block {
    display: flex;
    flex-direction: row;
    gap: 20px;

    &--sign {
      width: 160px;
      
      p {
        margin: 0;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
        color: $text-color-dark;
        transition: all $transition-duration;
        text-align: center;
        cursor: pointer;
  
        &:hover {
          letter-spacing: 1.3px;
          color: #FB5B32;
        }
      }
    }

    &--lang {
      display: flex;
      flex-direction: row;
      gap: 5px;
     
  
      &--option {
        margin: 0;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
        color: $text-color-dark;
        transition: all $transition-duration;
        text-align: center;
  
        &:hover {
          letter-spacing: 1.3px;
          color: #FB5B32;
        }
      }
    }
  }
}