@import "../../../variables.scss";

.chat {
  content: " ";
  width: 100%;
  height: 80vh;

  &__nav {
    display: flex;
    gap: 20px;

    &--item {
      font-size: 18px;
      font-weight: 500;
      margin-right: 10px;
      padding: 7px;
      border:2px solid $green;
      border-radius: 30px;
      width: 90px;
      text-align: center;
      cursor: pointer;
      transition: all $transition-duration;

      &.chat-active {
        color: white;
        background-color: $green;
      }
    }
    
  }

  &__chat {
    display: flex;
    flex-direction: column;
    gap: 30px;
    &--list {
      height: 55vh;
      background-color: $background-color-dark;
      border-radius: 30px;
      overflow-y: scroll;
      padding: 30px;

      
    }

    &--bottom {
      display: flex;
      justify-content: space-between;
      &--input {
        width: calc(100% - 100px) !important;
        height: 30px;
        outline: none;
        border: 1px solid white;
        border-radius: 32px;
        padding: 8px 12px;
        font-size: 18px;
        background-color: $background-color-dark;

        &:focus {
          border: 1px solid $green;
        }
      }

      &--button {
        height: 48px;
        background-color: $green;
        border-radius: 20px;
        width: 48px;
        border: 2px solid $green;
        transition: all $transition-duration;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background-color: white;
          svg {
            color: $green;
          }
        }

        svg {
          transform: scale(1.2);
          color: white;
        }
      }
    }
  }
}
